<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Folio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Folio.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 19</value>
            </setting>
            <setting name="CacheExpirationDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CachePath" serializeAs="String">
                <value>rulings.xml</value>
            </setting>
            <setting name="CachePathIsRelative" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulingSourceUrl" serializeAs="String">
                <value>http://www.crystalkeep.com/magic/rules/oracle/oracle-all.txt</value>
            </setting>
            <setting name="CacheExpirationInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RecentlyOpenedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="BlurDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AutocompleteSuggestions" serializeAs="String">
                <value>5</value>
            </setting>
        </Folio.Properties.Settings>
    </userSettings>
</configuration>